@import "tailwindcss";

@theme {
  --color-primary: #1f1e1e;
  --color-secondary: #f6efe8;
  --font-display: "Calistoga", "sans-serif";
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-move: move 1s linear infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes move {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full border-orange-400/2 shadow-[0_0_80px_inset] shadow-orange-400/8;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl m-auto;
  }
}
